@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  color: inherit; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

::-moz-selection {
  background-color: rgba(81, 152, 114, 0.5);
  color: #ece9e2; }

::selection {
  background-color: rgba(81, 152, 114, 0.5);
  color: #ece9e2; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1250px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 42.5%; } }

body {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  background-color: #ece9e2;
  width: 120rem;
  margin: 0 auto;
  color: #121212; }
  @media only screen and (max-width: 1000px) {
    body {
      width: 95%; } }

body.hidden {
  overflow: hidden; }

body > div.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0vw;
  top: 0vh;
  transform: translateX(-9999px);
  background-color: #ece9e2;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  opacity: 0;
  transition-property: translateX, opacity;
  transition: 1s ease-in-out;
  color: #121212; }
  body > div.overlay p:nth-child(2) {
    margin-bottom: 2rem; }
  body > div.overlay.show {
    transform: translateX(0);
    opacity: 1; }

.spinner {
  width: 40px;
  height: 40px;
  background-color: #519872;
  margin: 50px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.emphasize {
  color: #519872;
  font-style: italic; }

.upper {
  display: flex;
  flex-direction: column;
  margin-top: 5rem; }

.header {
  margin-bottom: 2.5rem;
  text-align: center; }
  .header--title {
    font-size: 4.8rem;
    font-weight: 300;
    color: #519872; }
  .header--suptitle {
    margin-top: 1.5rem;
    font-size: 2.4rem;
    font-weight: 400; }

.text {
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.6;
  color: rgba(18, 18, 18, 0.85);
  font-weight: 300;
  text-align: justify; }
  .text p {
    margin-top: 1.5rem; }

.graph-title {
  width: 80%;
  margin: 0 auto;
  color: #519872; }
  .graph-title--title {
    font-size: 2.4rem;
    font-weight: 300; }

#densityTitle {
  margin-top: 5rem; }

#spiderTitle {
  margin-top: 1rem;
  margin-bottom: 2.5rem; }

#regionsTitle {
  margin-top: 5rem;
  margin-bottom: 2.5rem; }

#mapTitle {
  margin-top: 1rem; }

.density-graphs {
  height: 55rem; }

.spider-graph {
  height: 55rem; }

.regions-graph {
  height: 77rem; }

.map-graph {
  height: 70rem; }

.tooltip {
  background-color: #519872;
  color: #ece9e2;
  text-align: center;
  border-radius: 6px;
  padding: .5rem 1rem;
  position: absolute;
  left: -9999px;
  font-size: 1.3rem;
  max-width: 20rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  padding: 1rem; }
  .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #519872 transparent; }
  .tooltip--title {
    margin-bottom: 1rem; }
  .tooltip--text {
    display: flex;
    align-items: center;
    justify-content: center; }

.lower {
  margin-bottom: 5rem; }

.footer {
  width: 80%;
  margin: 0 auto; }
  .footer--title {
    font-weight: 300;
    margin: 1rem 0;
    font-size: 1.4rem;
    color: #519872; }
  .footer--sources {
    color: rgba(18, 18, 18, 0.5);
    margin-bottom: 1rem;
    list-style: none;
    display: flex;
    align-items: center; }
    .footer--sources__source:not(:last-of-type) {
      margin-right: 3rem; }
    .footer--sources__source a {
      color: inherit;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 300;
      transition: color .25s ease-in-out; }
      .footer--sources__source a:hover, .footer--sources__source a:focus {
        color: #121212; }
