@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    color: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    background-color: rgba($emp-color, .5);
    color: $bg-color;
}

::selection {
    background-color: rgba($emp-color, .5);
    color: $bg-color;
}

html {
    font-size: 62.5%; // 1rem

    @include responsive(1250px) {
        font-size: 50%;
    }

    @include responsive(1000px) {
        font-size: 42.5%;
    }
}

body {
    box-sizing: border-box;
    font-family: 'Noto Sans JP',
        sans-serif;
    background-color: $bg-color;
    width: 120rem;
    margin: 0 auto;
    color: $text-color;

    @include responsive(1000px) {
        width: 95%;
    }
    position: relative;
}

body.hidden {
    overflow: hidden;
}

body>div.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0vw;
    top: 0vh;
    transform: translateX(-9999px);
    background-color: $bg-color;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    opacity: 0;
    transition-property: translateX, opacity;
    transition: 1s ease-in-out;
    color: $text-color;

    p:nth-child(2) {
        margin-bottom: 2rem;
    }

    &.show {
        transform: translateX(0);
        opacity: 1;
    }
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: $emp-color;

    margin: 50px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.emphasize {
    color: $emp-color;
    font-style: italic;
}